kestra-flow/outlook_email_dispatcher_new.yml
id: outlook_email_dispatcher_new
namespace: company.ops
tasks:

  - id: generate_token_id
    type: io.kestra.plugin.core.http.Request
    uri: https://login.microsoftonline.com/74afe875-305e-4ab4-ba4a-c1359a7629ae/oauth2/v2.0/token
    method: POST
    contentType: application/x-www-form-urlencoded
    body: "client_id={{ kv('client_id') }}
      &client_secret={{ kv('client_secret') }}
      &scope=https://graph.microsoft.com/.default
      &grant_type=client_credentials"


  - id: fetch_unread_emails
    type: io.kestra.plugin.core.http.Request
    uri: https://graph.microsoft.com/v1.0/users/karan.panchal@datasciencewizards.ai/mailFolders/Inbox/messages?$filter=isRead%20eq%20false&$orderby=receivedDateTime%20desc&$top=7
    method: GET
    headers:
      Authorization: Bearer {{ fromJson(outputs.generate_token_id.body).access_token }}
      Content-Type: application/json

  - id: foreach_email
    type: io.kestra.plugin.core.flow.ForEach
    values: "{{ fromJson(outputs.fetch_unread_emails.body).value }}"
    concurrencyLimit: 0
    tasks:

      - id: trigger_processing_flow
        type: io.kestra.plugin.core.flow.Subflow

        namespace: company.team
        flowId: tata_aig_email_processing

        inputs:
          access_token: "{{ fromJson(outputs.generate_token_id.body).access_token }}"
          email: "{{ taskrun.value }}"